<div class="container wenku-main">
    <div class="row">
        <div class="{{if .OnlyCover}}col-xs-8{{else}}col-xs-9{{end}} wenku-left wenku-nopadding">

            <div class="panel panel-default wenku-noborder">
                <div class="panel-body">
                    <div class="help-block wenku-doc-info">
							<span>
								<a href="/list/{{.CrumbChanel.Alias}}" title="{{.CrumbChanel.Title}}">{{.CrumbChanel.Title}}</a> >
								<a href="/list/{{.CrumbChanel.Alias}}/pid/{{.CrumbParent.Id}}" title="{{.CrumbParent.Title}}">{{.CrumbParent.Title}}</a> >
								<a href="/list/{{.CrumbChanel.Alias}}/pid/{{.CrumbParent.Id}}/cid/{{.CrumbChildren.Id}}" title="{{.CrumbChildren.Title}}">{{.CrumbChildren.Title}}</a> >
								<span class="text-muted">文档预览</span>
							</span>
                    </div>

                            <div class="wenku-viewer clearfix wenku-unview">
                                <h1>
                                    <img alt="{{.Doc.Ext}}文档" src="/static/Home/default/img/{{.Doc.ExtCate}}_24.png"/> {{.Doc.Title}}
                                    {{if gt $.AdminId 0}}
                                        <a href="/admin/doc/action?type=remove&id={{.Doc.Id}}" class="text-muted wenku-tooltip wenku-ajax-get" title="将文档移入回收站"><i class="fa fa-recycle"></i></a>
                                    {{end}}
                                </h1>
                                <div class="help-block wenku-preview-tips text-center">
                                    当前格式({{.Doc.Ext}})文档暂时不支持在线预览，请下载原文档对内容进行浏览
                                </div>
                                <div class="col-xs-7 wenku-nopadding pull-right">
                                    <ul>
                                        <li><span class="text-muted">文档大小：</span> {{FormatByte (Interface2Int .Doc.Size)}} </li>
                                        <li><span class="text-muted">文档格式：</span> {{.Doc.Ext}} </li>
                                        <li><span class="text-muted">文档页数：</span> -- </li>
                                        <li><span class="text-muted">下载次数：</span> {{.Doc.Dcnt}} </li>
                                        <li><span class="text-muted">浏览次数：</span> {{.Doc.Vcnt}} </li>
                                        <li><span class="text-muted">收藏次数：</span> {{.Doc.Ccnt}} </li>
                                        <li><span class="text-muted">评论人数：</span> {{CalcInt (Interface2Int .Doc.ScorePeople) "-" 1}} </li>
                                        <li><span class="text-muted">文档评分：</span> <i class="wenku-star star-{{StarVal (Interface2Int .Doc.Score) false}}"></i> {{StarVal (Interface2Int .Doc.Score) true}}分</li>
                                        <li><span class="text-muted">分享达人：</span> <a href="/user/{{.Doc.Uid}}" target="_blank"title="{{.Doc.Username}}">{{.Doc.Username}}</a></li>
                                        <li><span class="text-muted">分享时间：</span> {{TimestampFormat (Interface2Int .Doc.TimeCreate)}}</li>
                                        <li><span class="text-muted">文档MD5：</span> {{.Doc.Md5}}</li>
                                    </ul>
                                </div>
                                <div class="col-xs-5"></div>
                            </div>


                    <div class="help-block wenku-action">
                        <div class="pull-left">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#ModalReport" class="btn btn-primary btn-sm"><i class="fa fa-warning"></i> 举报</a>
                        </div>
                        <div class="pull-right wenku-mgl-15px">
                            <a href="javascript:void(0);" rel="nofollow" data-toggle="modal" data-target="#ModalDownload" target="_blank" class="btn btn-primary btn-sm"><i class="fa fa-cloud-download"></i> 下载<span class="hidden-xs">原文档</span>({{FormatByte (Interface2Int .Doc.Size)}})</a>
                        </div>
                        <div class="pull-right">
                            <a href="javascript:void(0);" rel="nofollow" class="btn btn-primary btn-sm wenku-collect" data-id="{{.Doc.Id}}"><i class="fa fa-heart-o"></i> 收藏</a>
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#ModalShare" class="btn btn-primary btn-sm"><i class="fa fa-share-alt"></i> 分享</a>
                        </div>
                    </div>
                </div>
            </div>

            {{template "Comment" .}}

        </div>
        <div class="{{if .OnlyCover}}col-xs-4{{else}}col-xs-3{{end}} wenku-right">

            <div class="panel panel-default wenku-noborder wenku-maylike">
                <div class="panel-heading">
                    <div class="strong">热门文档</div>
                </div>
                <div class="panel-body">

                    <ul class="wenku-tabs-list">
                        {{range .Hots}}
                        <li><img alt="{{.Ext}}文档" src="/static/Home/default/img/{{.ExtCate}}_24.png"/><a href="/view/{{.Id}}" target="_blank" title="{{.Title}}">{{.Title}}</a></li>
                        {{end}}
                    </ul>
                </div>
            </div>


            <div class="panel panel-default wenku-noborder wenku-maylike">
                <div class="panel-heading">
                    <div class="strong">最新文档</div>
                </div>
                <div class="panel-body">

                    <ul class="wenku-tabs-list">
                        {{range .News}}
                        <li><img alt="{{.Ext}}文档" src="/static/Home/default/img/{{.ExtCate}}_24.png"/><a href="/view/{{.Id}}" target="_blank" title="{{.Title}}">{{.Title}}</a></li>
                        {{end}}
                    </ul>

                </div>
            </div>


        </div>
    </div>


</div>
{{template "ModalDownload" .}}
{{template "ModalShare" .}}
{{template "ModalReport" .}}
{{template "ModalCollect" .}}