<div class="container wenku-main">
    <div class="row">
        <div class="col-xs-9 wenku-left wenku-nopadding">

            <div class="panel panel-default wenku-noborder">
                <div class="panel-body">
                    <h1><img alt="doc文档" src="/static/Home/default/img/word_24.png"> 福建电信能力平台各类推送接口说明</h1>
                    <div class="help-block wenku-doc-info">
							<span>
								<a href="/list/pro" title="专业资料">专业资料</a> &gt;
								<a href="/list/pro/pid/25" title="自然科学">自然科学</a> &gt;
								<a href="/list/pro/pid/25/cid/129" title="天文/地理">天文/地理</a> &gt;
								<span class="text-muted">文档预览</span>
							</span>
                        <div class="pull-right text-muted">
                            <span title="页数"><i class="fa fa-file-text-o"></i> 16 页</span>
                            <span title="下载"><i class="fa fa-download"></i> 0 下载</span>
                            <span title="浏览"><i class="fa fa-eye"></i> 9 浏览</span>
                            <span title="评论"><i class="fa fa-comments-o"></i> 1 评论</span>
                            <span title="收藏"><i class="fa fa-heart-o"></i> 0 收藏</span>
                            <span title="评分"><i class="wenku-star star-30"></i> 3.0分</span>
                        </div>
                    </div>

                    <div class="help-block wenku-preview-tips">
                        当前文档最多只能预览 <span class="strong text-primary">30</span> 页，若文档超出了 <span class="strong text-primary">30</span> 页，请下载原文档以浏览全部内容。
                    </div>



                    <div class="wenku-viewer">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/python/python1.svg" class="wenku-lazy wenku-viewer-img" alt="">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/python/python2.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/python/python3.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/python/python4.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/python/python5.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/python/python6.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/python/python7.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/python/python8.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/python/python9.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                        <img src="/static/Common/img/loading.gif" data-original="/static/Common/img/test.min.svg" class="wenku-lazy wenku-viewer-img">
                    </div>

                    <div class="container-fluid navbar-default navbar-fixed-bottom" role="navigation">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-9">
                                    <ul class="nav navbar-nav">
                                        <li><a href="javascript:void(0);"><i class="fa fa-arrows-alt em14"></i>&nbsp;</a></a></li>
                                        <!--<li><a href="javascript:void(0);"><i class="fa fa-expand em14"></i>&nbsp;</a></a></li>-->
                                        <!--<li><a href="javascript:void(0);"><i class="fa fa-compress em14"></i>&nbsp;</a></a></li>-->


                                        <li><a href="javascript:void(0);"><i class="fa fa-share-alt em14"></i>&nbsp;</a></li>
                                        <li><a href="javascript:void(0);"><i class="fa fa-heart-o em14"></i>&nbsp;</a></li>
                                        <li><a href="javascript:void(0);"><i class="fa fa-search-minus em14"></i>&nbsp;</a></li>
                                        <li><a href="javascript:void(0);"><i class="fa fa-search-plus em14"></i>&nbsp;</a></li>




                                        <li class="wenku-mgl-15px"><a href="javascript:void(0);"><i class="fa fa-chevron-up em14"></i></a></li>
                                        <p class="navbar-text"> 2 / 16 </p>
                                        <li class="wenku-mgr-15px"><a href="javascript:void(0);"><i class="fa fa-chevron-down em14"></i></a></li>



                                        <li><a href="#wenku-comment"><i class="fa fa-comments-o em14"></i> 评价文档</a></li>

                                    </ul>
                                    <ul class="nav navbar-nav navbar-right">
                                        <p class="navbar-text"><i class="fa fa-database"></i>&nbsp;&nbsp;0&nbsp;&nbsp;个金币 </p>
                                        <li class="active"><a href="javascript:void(0);"><i class="fa fa-cloud-download em14"></i> 下载文档(213.32KB)</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-3">
                                    <ul class="nav navbar-nav navbar-right wenku-up-to-top">
                                        <li class="active go-top"><a href="javascript:void(0);"><i class="fa fa-arrow-up em14"></i> 回到顶部</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="help-block">
                        <span>本文档由 <a href="/user/3" target="_blank" title="疯狂的皇虫">疯狂的皇虫</a> 于 <span class="text-muted">2017-08-05 15:15:22</span>上传分享</span>
                    </div>
                    <div class="help-block">
                        <div class="pull-left">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#ModalReport" class="btn btn-primary btn-sm"><i class="fa fa-warning"></i> 举报</a>
                        </div>
                        <div class="pull-right wenku-mgl-15px">
                            <a href="javascript:void(0);" rel="nofollow" data-toggle="modal" data-target="#ModalDownload" target="_blank" class="btn btn-primary btn-sm"><i class="fa fa-cloud-download"></i> 下载原文档(260.15KB)</a>
                        </div>
                        <div class="pull-right">

                            <a href="javascript:void(0);" rel="nofollow" class="btn btn-primary btn-sm wenku-collect"><i class="fa fa-heart-o"></i>  <span>收藏</span></a>

                            <a href="javascript:void(0);" data-toggle="modal" data-target="#ModalShare" class="btn btn-primary btn-sm"><i class="fa fa-share-alt"></i> 分享</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-default wenku-noborder wenku-comment" id="wenku-comment">
                <div class="panel-body">
                    <div title="给文档打分">给文档打分
                        <span class="wenku-score disabled">
            <i class="fa fa-star-o" data-v="1"></i>
            <i class="fa fa-star-o" data-v="2"></i>
            <i class="fa fa-star-o" data-v="3"></i>
            <i class="fa fa-star-o" data-v="4"></i>
            <i class="fa fa-star-o" data-v="5"></i>
            </span>
                        <span class="wenku-score-tips color-gray"></span>
                    </div>
                    <form role="form" method="post" action="/comment/5" class="wenku-comment-form">
                        <div class="form-group">
                            <textarea name="Comment" rows="3" class="form-control" required="required" placeholder="文明评论，文明你我他"></textarea>
                            <input type="hidden" name="Score" id="score" value="0">
                        </div>
                        <div class="form-group">
                            <div class="col-xs-3 clearfix wenku-nopadding">
                                <div class="help-block">您好可以输入 <span class="text-danger wenku-comment-num">255</span> 个字符</div>
                            </div>
                            <div class="col-xs-5 clearfix text-right wenku-answer-tips">
                                <div class="help-block">IT文库的网址是多少？( 答案：<span class="text-danger">wenku.it</span> )</div>
                            </div>
                            <input type="hidden" name="_xsrf" value="wn2L4RGzTRhPGMAgFEH1eRVkhGFZ4Cls">
                            <div class="col-xs-2 clearfix wenku-nopadding">
                                <input type="text" name="Answer" required="required" class="form-control" placeholder="请输入答案">
                            </div>
                            <div class="col-xs-2 wenku-no-pdr clearfix text-right">
                                <input type="submit" class="btn btn-danger btn-block" value="发表评论">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default wenku-noborder wenku-comment-list">
                <div class="panel-heading">评论列表</div>
                <div class="panel-body">

                    <ul>

                        <li>
                            <div class="help-block">暂时还没有评论，期待您的金玉良言</div>
                        </li>

                    </ul>


                </div>
            </div>


        </div>
        <div class="col-xs-3 wenku-right">



            <div class="panel panel-default wenku-noborder wenku-maylike">
                <div class="panel-heading">
                    <div class="strong">热门文档</div>
                </div>
                <div class="panel-body">

                    <ul class="wenku-tabs-list">

                        <li><img alt="xlsx文档" src="/static/Home/default/img/excel_24.png"><a href="/view/4" target="_blank" title="07月份工作考勤【黄崇福】">07月份工作考勤【黄崇福】</a></li>

                        <li><img alt="doc文档" src="/static/Home/default/img/word_24.png"><a href="/view/5" target="_blank" title="福建电信能力平台各类推送接口说明">福建电信能力平台各类推送接口说明</a></li>

                    </ul>
                </div>
            </div>


            <div class="panel panel-default wenku-noborder wenku-maylike">
                <div class="panel-heading">
                    <div class="strong">最新文档</div>
                </div>
                <div class="panel-body">

                    <ul class="wenku-tabs-list">

                        <li><img alt="doc文档" src="/static/Home/default/img/word_24.png"><a href="/view/5" target="_blank" title="福建电信能力平台各类推送接口说明">福建电信能力平台各类推送接口说明</a></li>

                        <li><img alt="xlsx文档" src="/static/Home/default/img/excel_24.png"><a href="/view/4" target="_blank" title="07月份工作考勤【黄崇福】">07月份工作考勤【黄崇福】</a></li>

                    </ul>

                </div>
            </div>

        </div>
    </div>



</div>

{{template "ModalDownload" .}}
{{template "ModalShare" .}}
{{template "ModalReport" .}}
{{template "ModalCollect" .}}