[oss]
#当前环境是否内网，内网则启用内网endpoint，否则启用外网endpoint
IsInternal=false

#内网的endpoint
EndpointInternal=oss-cn-hongkong-internal.aliyuncs.com

#外网的endpoint
EndpointOuter=oss-cn-qingdao.aliyuncs.com

#key
AccessKeyId=

#secret
AccessKeySecret=

#供文档预览的bucket
BucketPreview=wenku-preview

#供文档存储的bucket
BucketStore=itwenku-store

#预览链接
#PreviewUrl=http://wenku-preview.oss-cn-qingdao.aliyuncs.com
PreviewUrl=http://static.wenku.it
DownloadUrl=http://dl.wenku.it

#签名链接默认有效期时间，单位为秒
UrlExpire=600

#默认图片
DefaultAvatar=/default/avatar.png
DefaultCover=/default/cover.jpg
DefaultBanner=/default/banner.jpg
DefaultPic=/default/default.jpg
