/*
 * Author:  皇虫 
 * Email: 	TruthHun@QQ.COM
 * Date: 	2018-09-01
 * */
@media (max-width: 768px) {
    .navbar-fixed-bottom,.navbar-fixed-top{min-width:100% !important;}
    .page-header{margin-bottom:30px}
    .page-header .lead{margin-bottom:10px}
    .container{width:100% !important;}
    .container-fluid{min-width: 100% !important;}
    .navbar-collapse .navbar-nav.navbar-right:last-child{margin-bottom: 0px;}
    .navbar-nav .open .dropdown-menu>li>a, .navbar-nav .open .dropdown-menu .dropdown-header{
        padding: 7px 15px 7px 15px!important
    }
    .carousel-control .fa{top:40%;}
    .navbar .navbar-nav .open .dropdown-menu>.active>a, .navbar .navbar-nav .open .dropdown-menu>.active>a:focus, .navbar .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar .navbar-nav .open .dropdown-menu>li>a:focus, .navbar .navbar-nav .open .dropdown-menu>li>a:hover{
        background-color: #1abc9c !important;
    }

    .wenku-header .col-xs-6{width: 100%;text-align: center;}
    .wenku-logo{margin:10px auto;}
    .wenku-header .pull-right{margin-top: 0px;margin-bottom: 15px;}
    .mobile-banner .col-xs-9{width: 100%;}
    .mobile-banner .col-xs-3{width: 100%;padding-left: 0px;margin-top: -15px;}
    .mobile-banner .col-xs-3 .panel{display: none}
    .mobile-banner .col-xs-3 .wenku-count{display: block;}
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
        border-top: 0px;margin-top:0px;
    }

    #wenku-index .wenku-cate{padding: 10px 0px 15px;margin-top: 15px;}
    #wenku-index .wenku-cate .col-xs-3{width: 50%;}
    #wenku-index .wenku-cate .h5{font-size: 20px;}

    #wenku-index .wenku-item .panel-body .col-xs-5{display: none;}
    #wenku-index .wenku-item .col-xs-6{width: 100%;}
    #wenku-index .wenku-item .col-xs-7{width: 100%;}
    #wenku-index .wenku-item .wenku-mgl-15px{margin-left: 0px;}
    #wenku-index .wenku-item li{line-height: 180%;}

    .wenku-footer{padding: 15px 0px;}
    .wenku-footer-dark{padding: 30px 15px;}


    #wenku-list .wenku-main .wenku-right{width: 100%;padding-left: 0px;}
    #wenku-list .wenku-main .wenku-left{width: 100%;padding-left: 0px;}
    #wenku-list .wenku-right .wenku-cate .panel-body a{width: auto;margin-right: 15px;}
    #wenku-list .panel-body img{width: 100%;}
    #wenku-list .panel-body .col-xs-1{width: 15%;}
    #wenku-list .panel-body .col-xs-11{width: 85%;padding-right: 0px;padding-left: 10px;}
    #wenku-list .wenku-text-ellipsis{white-space: normal;}
    #wenku-list h3.wenku-text-ellipsis{white-space: nowrap;}
    #wenku-list .wenku-left .panel-body li.clearfix .help-block>span{display: inline-block;}
    .pagination{padding: 0px;margin: 5px 0px;}
    .pagination li{margin-right: 1px;}
    .pagination li>a, .pagination li>span{border-left: 0px;}
}

