{{define "footer"}}
	<div class="container-fluid wenku-footer">
    	<div class="container">
    		<div class="row wenku-flink">
    			<div class="col-xs-12">
    				<div><strong>友情链接</strong></div>
    				<div class="help-block">
						{{range (Friends)}}
    					<a href="{{.Link}}" target="_blank" title="{{.Title}}">{{.Title}}</a>
						{{end}}
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <div class="container-fluid wenku-footer-dark">
    	<div class="container">
    		<div class="row">
    			<div class="col-xs-12 text-center wenku-help help-block">
					{{range .Pages}}
						<a href="/pages/{{.Alias}}" target="_blank" title="{{.Title}}">{{.Name}}</a>
					{{end}}
    			</div>
    			<div class="col-xs-12 text-center help-block">
					{{.Sys.Site}}&nbsp;&nbsp;&copy;{{.CopyrightDate}}&nbsp;&nbsp;<span class="text-muted">|</span>&nbsp;&nbsp;<a href="/sitemap.xml" title="站点地图" target="_blank">站点地图</a>
    			</div>
                <div class="col-xs-12 text-center help-block">
                    <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow">粤ICP备18004373号-2</a>
                </div>
    			<div class="col-xs-12 text-center help-block">
					<small>    				Powered By <a href="https://github.com/TruthHun/DocHub" style="color: #1abc9c;" target="_blank" title="DocHub">DocHub</a> {{.Version}}
                    </small>
    			</div>

				<div class="col-xs-12 text-center">{{str2html .Sys.Tongji}}</div>
			</div>
    	</div>
    </div>


	<script src="/static/Common/js/jquery.min.js"></script>
    <script src="{{.TplStatic}}/js/bootstrap.min.js"></script>
	<script src="/static/Common/js/jquery.toast.min.js"></script>
	{{if .IsUpload}}
	<script src="/static/Common/js/spark-md5.min.js"></script>
	{{end}}
    <script src="{{.TplStatic}}/js/dochub.js?version={{$.Version}}"></script>
      
  </body>
</html>
{{end}}
