{{define "head"}}<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{.Seo.Title}}</title>
    <meta name="keywords" content="{{.Seo.Keywords}}"/>
    <meta name="description" content="{{.Seo.Description}}"/>
    {{if $.IsViewer}}
        <meta property="og:type" content="document"/>
        <meta property="og:url" content="{{$.Sys.DomainPc}}/view/{{.Doc.Id}}" />
        <meta property="og:release_date" content="{{TimestampFormat (Interface2Int .Doc.TimeCreate) "2006-01-02 15:04:05"}}"/>
        <meta property="og:title" content="{{.Doc.Title}}"/>
        <meta property="og:description" content="{{.Seo.Description}}"/>
        <meta property="og:document:type" content="{{.Doc.Ext}}"/>
        <meta property="og:document:page" content="{{.Doc.Page}}"/>
        <meta property="og:document:cost" content="{{.Doc.Price}}积分"/>
    {{end}}
    <link rel="stylesheet" type="text/css" href="{{.TplStatic}}/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{.TplStatic}}/css/flat-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{.TplStatic}}/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/Common/css/jquery.toast.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{.TplStatic}}/css/dochub.css?version={{$.Version}}"/>
    {{/*<link rel="stylesheet" href="//at.alicdn.com/t/font_794762_dpncr3eyueh.css">*/}}
    {{if .Sys.MobileOn}}
    <link rel="stylesheet" type="text/css" href="{{.TplStatic}}/css/dochub-mobile.css?version={{$.Version}}"/>
    {{end}}
    <link rel="shortcut icon" href="{{.TplStatic}}/img/favicon.ico">
      <script src="/static/Common/js/html5shiv.min.js"></script>
      <script src="/static/Common/js/respond.min.js"></script>
{{end}}
