{{define "head"}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{{.Seo.Title}} - Powered By DocHub</title>
<meta name="keywords" content="{{.Seo.Keywords}}"/>
<meta name="description" content="{{.Seo.Description}}"/>
<!--<link rel="stylesheet" type="text/css" href="{{.TplStatic}}/css/bootstrap.min.css"/>-->
<link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.css">
<!--<link rel="stylesheet" type="text/css" href="{{.TplStatic}}/css/flat-ui.min.css"/>-->
<!--<link rel="stylesheet" href="//cdn.bootcss.com/flat-ui/2.2.2/css/flat-ui.min.css">-->
<link rel="stylesheet" href="//cdn.staticfile.org/flat-ui/2.3.0/css/flat-ui.min.css">
<!--<link rel="stylesheet" type="text/css" href="{{.TplStatic}}/css/font-awesome.min.css"/>-->
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/Common/css/jquery.toast.min.css"/>
<link rel="stylesheet" type="text/css" href="{{.TplStatic}}/css/dochub.css?version={{$.Version}}"/>
<link rel="shortcut icon" href="{{.TplStatic}}/img/favicon.ico">
<!--[if lt IE 9]>
  <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
{{end}}
